*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../logo.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.title h2{
	color: #fff;
	text-align: center;
}

.post{
	color: #fff;
}

.post{
	text-align: center;
}

.post h3{
	font-weight: bold;
	font-size: 30px;
	margin-top: 130px;
}

.button{
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn{
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	background-color: orange;
	border-radius: 0.25em 0.25em  ;
}



.wrapper{
	text-align: center;
	color: #fff;
}

.wrapper h4{
    font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
}

.wrapper h5{
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
}
.wrapper h6{
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}



.messagebutton{
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);

}

